@model Person
<div>Person view</div>
<div style="width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">
    <div>@Model.Name</div>
    <div>@Model.Surname</div>
    <div>@Model.Email</div>
    <div>@Model.Address</div>
    <div>@Model.Age</div>
    <div>Is male = @Model.IsMale</div>
</div>